#nav_b {
    background-color: goldenrod;
}

.li-ul6 {
    color: darkmagenta;
}

#dgag {
    position: relative;
    top: 0px;
    bottom: 300px;
    border-top: 2px solid white;
    width: 100%;
    height: 130px;
    background-color: silver;
    padding-top: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(96, 81, 7);
}

#dgag2 {
    position: relative;
    top: 390px;
    bottom: 0px;
    width: 100%;
    height: 195px;
    background-color: gray;
    text-align: left;
    padding-left: 80px;
    padding-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
}

#dgag3 {
    position: relative;
    left: 1030px;
    bottom: 30px;
    display: inline-flex;
    list-style-type: none;
}

.dsa {
    color: gray;
}

.stone {
    position: relative;
    top: 40px;
    text-align: center;
}

#item1 {
    position: relative;
    text-align: center;
    top: 100px;
    left: 225px;
    width: 300px;
    height: 200px;
    background-color: rgb(238, 226, 226);
}

.imi {
    position: relative;
    width: 300px;
    height: 170px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

button {
    position: relative;
    top: 10px;
    left: 105px;
    background-color: rgb(246, 52, 246);
    color: white;
    border: white solid 2px;
    border-radius: 10px;
}

h6 {
    position: relative;
    top: -25px;
    left: 0px;
}

#item2 {
    position: relative;
    text-align: center;
    top: -99px;
    left: 735px;
    width: 300px;
    height: 199px;
    background-color: rgb(238, 226, 226);
}

#item3 {
    position: relative;
    text-align: center;
    top: 100px;
    left: 225px;
    width: 300px;
    height: 200px;
    background-color: rgb(238, 226, 226);
}

#item4 {
    position: relative;
    text-align: center;
    top: -99px;
    left: 735px;
    width: 300px;
    height: 199px;
    background-color: rgb(238, 226, 226);
}

.crystal {
    position: relative;
    top: 15px;
    text-align: center;
}

.abt {
    position: relative;
    top: 15px;
    text-align: center;
    margin-bottom: 40px;
}

.h3hm {
    border-bottom: solid 2px goldenrod;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
}

#cart {
    position: relative;
    left: 475px;
    color: white;
    background-color: rgb(125, 90, 1);
    border-width: 1.5px;
    border-color: white;
    margin-bottom: 20px;
    border-radius: 7px;
}
#about {
    position: relative;
    left: 450px;
    width: 810px;
    height: 400px;
    text-align: center;
}

#crst {
    position: relative;
    left: 0px;
    top: -400px;
}

#im {
    position: relative;
    width: 425px;
    height: 300px;
}

.home {
    position: relative;
    top: 50px;
}

#crsts {
    position: relative;
    top: 200px;
    height: 400px;
    text-align: center;
    left: 120px;
    width: 80%;
}

.toas{
    color: black;
    background-color:  rgb(225, 219, 219);;
    border: black solid 1px;
    border-radius: 10px;
}

#container {
    position:fixed;
    text-align: center;
    top: 180px;
    left: 1040px;
    width: 220px;
    height: 120px;
    z-index: 3;
}
.popup-container{
    position:absolute;
    z-index:2;
    top:50px;
    left:300px;
    width:950px;
    color:black;
    display: none;
    text-align: center;
    background-color: rgb(255, 255, 159);
    border:1px black solid;
}
.popup-container.active{
    display:flex;
}
.hea{
    border-bottom: 1px solid black;
}

#cartItem{
    margin-top: 60px;
    position: relative;
    left:-100px;
    width:700px;
}
#pop-up{
    position: relative;
    text-align: center;
    left:130px;
    top:0px;
}
