<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/contactus.css">
    <title>Contact Us</title>
</head>

<body>
    <header id="header">
        <nav id="nav-header">
            <ul id="ul-nav">
                <li class="list-ul">
                    <a href="/shop">Shop</a>
                </li>
                <li class="list-ul">
                    <a href="/admin/add-product">Add Product</a>
                </li>
                <li class="list-ul">
                    <a href="/admin/contactus">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/success" method="POST" id="form">
            <label>Name:</label>
            <input type="text" id="name" name="name"><br>
            <label>Email_ID:</label>
            <input type="text" id="email" name="email"><br>
            <button type="submit" id="btn-form">submit</button>

        </form>


    </main>
    <small>
        <small>
            <addres>
                Reach out to developer at <u><i>ajaykumarx19@gmail.com</i></u><br />
                Developer name: <em><u>Ajay Kumar</u></em><br />
            </addres>

        </small>
    </small>
</body>

</html>