.signup-class {
    position: relative;
    background-color: rgb(232, 223, 223);
    ;
    z-index: 2;
    color: blue;
    text-align: center;
    display: none;
    width: 100%;
    height: 550px;
    border: 1px black solid;
    padding-top: 50px;
}

.signup-class.signupActive {
    display: block;
}

#dailyexpensesnotice {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

#loginnotice {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

#signupnotice {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.login-class {
    position: relative;
    background-color: rgb(232, 223, 223);
    z-index: 4;
    color: blue;
    text-align: center;
    display: block;
    width: 100%;
    height: 550px;
    border: 1px black solid;
    padding-top: 50px;
}


button {
    border-radius: 7px;
}

#signup-dash {
    position: absolute;
    top: 260px;
    left: 260px;
}

#home-dash {
    position: absolute;
    top: 260px;
    left: 260px;
}

.dailyexpenses-class {
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

#leaderboard {
    position: relative;
    top: 40px;
    left: 230px;
}

.forgotPwd-cls {
    position: relative;
    top: -200px;
    left: 335px;
    width: 600px;
    height: 200px;
    background-color: rgb(228, 214, 214);
    z-index: 3;
    text-align: center;
    padding-top: 30px;
    display: none;
    border: 1px solid black;
}

.noticeofmonths-class {
    position:fixed;
    top:200px;
    left:415px;
    width: 450px;
    height: 150px;
    background-color: rgb(191, 185, 185);
    z-index: 2;
    text-align: center;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    display: none;
    border: 1px solid black;
    border-radius: 15px;
}

.noticeofmonths-class.nom-active {
    display: flex;
}

#pwdForm {
    position: relative;
    left: 105px;
}

.btnPage {
    color: white;
    background-color: rgb(80, 165, 199);
    border-radius: 7px;
    font-size: 25px;
    border: 1px solid white;
}

.btnPage:hover {
    background-color: rgb(0, 141, 197);
}

.btnPage.activ {
    background-color: rgb(1, 70, 97);
}

.forgotPwd-cls.pwd-active {
    display: flex;
}



#myform {
    position: relative;
    top: 20px;
    display: inline-flexbox;
}

#detailsOnScreen {
    position: relative;
    top: 30px;
}
